.calendar {
 display: grid;
 grid-template-columns: 150px repeat(7, 1fr); /* Fixed column for employees */
}

.employee-name-cell {
 background-color: #f7f7f7;
 text-align: center;
 border: 1px solid #ddd;
 padding: 10px;
}

.date-header {
 background-color: #f0f0f0;
 border: 1px solid #ddd;
 text-align: center;
 padding: 10px;
}

.date-cell {
 border: 1px solid #ddd;
 text-align: center;
 padding: 10px;
 cursor: pointer;
}

/* .event {
 background-color: green;
 color: white;
 padding: 5px;
 border-radius: 4px;
 margin: 2px 0;
} */
